@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --color-amarillo : #EAC926;
    --color--azul : #03264C;
    --color--celeste : #1259c3;
    --color--gris-oscuro : #666;
    --color--gris-claro : #ebebeb;
    --color-verde : #39b54a;
    

}
*{
    font-family: 'Roboto';
}
